In [2]:
import pandas as pd

# List the names of the CSV files
csv_files = ['April12_2020.csv','Jan12_2021.csv','April28_2021.csv','Jan24_2022.csv']

# Create an empty list to store the DataFrames
df_list = []

# Iterate over the CSV files
for file in csv_files:
    # Read the CSV file into a DataFrame
    df = pd.read_csv(file)
    # Add the DataFrame to the list
    df_list.append(df)

# Concatenate the DataFrames into a single DataFrame
combined_df = pd.concat(df_list)

# Write the combined DataFrame to a CSV file
combined_df.to_csv('combined_final_orginal_dataset.csv', index=False)

C:\Users\mksuj\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3106: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
import pandas as pd

# Read the Excel file into a DataFrame
df = pd.read_csv('combined_final_orginal_dataset.csv')

# Get the number of rows in the DataFrame
num_rows = df.shape[0]

# Print the number of rows
print(num_rows)

264919

In [4]:
df.head()

,coordinates,created_at,hashtags,media,urls,favorite_count,id,in_reply_to_screen_name,in_reply_to_status_id,in_reply_to_user_id,...,user_followers_count,user_friends_count,user_listed_count,user_location,user_name,user_screen_name,user_statuses_count,user_time_zone,user_urls,user_verified
0,NaN,Sat Apr 04 12:04:28 +0000 2020,NaN,NaN,NaN,0,1246408292240261120,maeplebacon,1.246408e+18,8.881185e+17,...,10,34,0,NaN,maemae,maeplebacon,1016,NaN,NaN,False
1,NaN,Sat Apr 04 12:04:28 +0000 2020,COVID19,NaN,NaN,0,1246408292571594754,NaN,NaN,NaN,...,1467,719,6,NaN,dsyrsé,syftrstl,36832,NaN,NaN,False
2,NaN,Sat Apr 04 12:04:28 +0000 2020,COVID19,NaN,NaN,0,1246408292634689536,NaN,NaN,NaN,...,14,204,1,NaN,Bérénice ILSKI,IlskiBerenice,844,NaN,NaN,False
3,NaN,Sat Apr 04 12:04:28 +0000 2020,NaN,NaN,NaN,0,1246408292424957953,NaN,NaN,NaN,...,381,889,1,NaN,DEW,rexondaridge,13173,NaN,NaN,False
4,NaN,Sat Apr 04 12:04:28 +0000 2020,NaN,NaN,NaN,0,1246408292751958016,PIB_India,1.246336e+18,2.310331e+08,...,75,86,0,"उत्तर प्रदेश, भारत",Ravi Dhaked,bobravikdhaked,813,NaN,NaN,False